[Unit]
Description=calview FastAPI Backend
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/routify/backend
Environment="PATH=/home/ubuntu/routify/backend/venv/bin"
EnvironmentFile=/home/ubuntu/routify/backend/.env
ExecStart=sudo /home/ubuntu/routify/backend/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 80 --workers 2
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
