.upload-form-container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .drag-and-drop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .university-search-container {
    position: relative;
    width: 40%;
    display: flex;
    margin-top: 350px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .upload-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }  